.color-icon, .text-color-icon {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 2px 4px 0;
    vertical-align: top;
    width: 15px;
}

.hidden{
	display:none !important;
}

.fullwrapper {    
    display: block;
    height: 100%;
    left: 0;   
    position: absolute;
    top: 0;
    width: 100%;
}

.flip-container {
	perspective: 1000;
}
.flip-container{
	position:relative;
}

/* .flip-container:hover .tshirt_frame, .flip-container.hover .tshirt_frame {
	transform: rotateY(180deg);
} */
.tshirt_frame.unflipped{
	transform: rotateY(180deg);
}
.tshirt_frame{
	transform: rotateY(0deg);
}

.flip-container, .flip-container .tshirt{
    height: 630px;
    width: 530px;
}

.flip-container .tshirt{
	border: 1px solid #cccccc;
}

.tshirt_frame {
	transition: 0.8s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* 02 October 2014 */
.same-line {
    display: inline-block;
    vertical-align: top;
}
.cleared{
	clear:both;
	height:0;
	width:100%;
	display:block;
}
.tcd_wrapper {
    font-family: helvetica;
    font-size: 14px;
}
.tcd-nav-cont{
	background:#E9EAEE;
	
}
.tcd-nav-row ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.tcd-nav-row ul li {
    display: inline-block;
    font-size: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.tcd-nav-row ul li a {
    color: #333333;
    display: block;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
}
.tcd-nav-row ul li a:hover,.header_tab.active{
	background:orange;
}
#design-actions {
    float: right;
}


.pallet-cont:after {
    content: "";
    display: inline-block;
    font-size: 0;
    height: 0;
    white-space: normal;
    width: 100%;
}
.pallet-cont {
    display: inline-block;
    text-align: justify;
    white-space: normal;
    width: 100%;
	padding:20px 0 0 0;
} 

.left_controle.same-line { 
    width: 223px;
}
/* .same-line.tshirt {   
    width: 50%;
} */
.same-line.right-controle {
    border: 1px solid #cccccc;
    padding: 15px;
    width: 200px;
	text-align:left;
}

#tabs {
    border: 1px solid #cccccc;
}
.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    font-size: 0;
    margin: 0;
    padding: 0;
}
.ui-state-default {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 50%;
}
.ui-tabs-anchor {
    background: none repeat scroll 0 0 #cccccc;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
	text-align:center;
	color:#333333;
}
.ui-state-active .ui-tabs-anchor {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-tabs-panel {
    padding: 12px;
	text-align:left;
}
.ui-tabs-panel > label {
    display: block;
    padding: 4px 0;
}

.design-frame {
    border: 1px solid gray;
    bottom: 0;
    display: block;
    height: 296px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -80px;
    width: 185px;
    z-index: 12;
}
#txt-back,#txt-front{
	text-align:center;
}

#txt-back:hover {
    background: none repeat scroll center center rgba(152, 152, 152, 0.16);
	cursor:pointer;
}

#clipart-cont ul li {
    display: inline-block;
    margin: 10px;
}


ul {
    list-style-type: none;
}
#clipart-cont ul li > div {
    margin: 0;
    padding: 0;
}
#clipart-cont ul li > div img {
    display: block;
    height: auto;
    vertical-align: bottom;
    width: 37px;
	opacity:0.7;
	cursor:pointer;
}
#clipart-cont ul li > div img:hover{
	opacity:1;
}

.used-clips{
	cursor:pointer;
}
.used-clips:hover {
    opacity: 0.69;
}
.txt-cont{
	cursor:pointer;
}
.txt-cont:hover{
	opacity:0.9;
	border:1px dashed #CCCCCC;
}
.choosed{
	border:1px dashed #CCCCCC;
}


.icon-img-cont {
    display: inline-block;
    position: relative;
}

.remove {
    background: none repeat scroll 0 0 #333333;
    border: medium none;
    border-radius: 50%;
    color: #ffffff;    
    padding: 0 5px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 2;
	cursor:pointer;
}

.remove.hover{
	color:red;
}

.rotate {
    background: none repeat scroll 0 0 #333333;
    border: medium none;
    border-radius: 50%;
    color: #ffffff;    
    padding: 0 5px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 2;
	cursor:pointer;
}

.rotate.hover{
	color:red;
}

.step_two-wrap{	
	vertical-align:top;
	display:inline-block;
}
.step_two-wrap.tool-cont{
	width:250px;
}
.step_two-wrap.image-cont{
	width:530px;
	
}

.ui-slider {
    background: none repeat scroll 0 0 #f2f2f2;
    height: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}
.ui-slider-range {
    background: none repeat scroll 0 0 #cccccc;
    display: block;
    height: 10px;
    position: relative;
    
}
.ui-slider-handle {
    background: none repeat scroll 0 0 red;
    display: block;
    height: 15px;
    position: relative;
    top: -13px;
    width: 15px;
}

.step-cont {
    font-size: 13px;
}


.step_two-wrap > div > label {
    background: none repeat scroll 0 0 #f2f2f2;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
	font-weight:bold;
}


.shirt-counter {
    margin-bottom: 30px;
}
.shirt-counter > input,#sale-price, #goal-count {
    border: 1px solid #cccccc;
    padding: 5px;
    width: 50px;
}
.shirt-counter p {
    display: block;
    margin: 10px 0;
}
.profit-counter > span {
    color: green;
    display: block;
    font-family: helvetica;
    font-size: 40px;
    padding: 10px;
}
.step2-shirt-cont{
	position:relative;
}

.text-wrap.txt-box {
    display: inline-block;
    position: relative;
}
/* 
.text-wrap .remove {    
    right: -14px;
    top: -14px;
}
 */
.flip_canvas {
    background: none repeat scroll 0 0 orange;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 20px 0 0;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
	font-weight:bold;
	text-transform:uppercase;
}
.flip_canvas:hover {
	opacity:0.8;	
}
.txt_printable {
    background: none repeat scroll 0 0 #cccccc;
    bottom: 0;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
}

.ui-tabs-panel label,.right-controle label {
    font-weight: bold;
	display:block;
	font-weight:bold;
}

#text_field{
    border: 1px solid #cccccc;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 4px;
    position: relative;
    width: 100%;
}

#font-chooser,#font-size,#outline,#tshirt_variant,.campaign-select {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 4px;
    width: 100%;
}

.color_pallete {
    border: 1px solid #cccccc;
    display: block;
    height: 17px;
    margin: 0 0 15px 0;
    opacity: 0.85;
    overflow: hidden;
    padding: 2px 0 0 5px;
    position: relative;
	
}

.color_pallete:hover{
	height:100%;
	opacity:1;	
}

.prod-wrap {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.prod-wrap > img {    
    border-radius: 4px;
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
    width: 48%;
}
.prod-wrap > span {
    background: none repeat scroll 0 0 orange;
    float: right;
    padding: 4px;
    width: 40%;
}

.grand-total {
    color: gray;
    display: block;
    font-size: 17px;
    padding: 10px 0;
    text-align: center;
}

.step_forward {
    background: none repeat scroll 0 0 orange;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 0 auto 25px;
    padding: 10px;
	text-align:center;
}

.step_forward:hover{
	background:green;
}

.tool-cont {
    border: 20px solid #ddd;
    padding: 20px;
}

.step_two-wrap p {
    color: #555;
    line-height: 20px;
}
.sale-price-cont {
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}
.txt-price-sale {
    color: #333333;
    font-size: 13px;
    font-weight: normal;
}


.campaign-info-cont{
	position:relative;
}
.campaign-text {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    display: block;
    font-weight: bold;    
    padding: 4px;
    position: relative;
    width: 100%;
}
.campaign-info-cont .desc {
    color: gray;
    font-size: 12px;
    font-style: italic;
	margin-bottom:15px;
	padding:2px 0;
	display:block;
}
.checkbox-cont{
	display:block;
	margin-bottom:15px;
}
.basep-cont {
    color: #84699b;
    font-size: 35px;
    padding: 5px 0;
}

#tabs-2 {
    text-align: center;
}
#search_art, #upload_own {
    background: none repeat scroll 0 0 orange;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-size: 18px;
    margin: 15px auto;
    padding: 10px 15px;
    width: 80%;
	cursor:pointer;
}

#search_art:hover, #upload_own:hover {
	background:green;
}

.symbol-cont {
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;
}
.clipart-cont {
    background: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
    bottom: 0;
    height: 50%;
    left: 0;
    margin: auto;
    overflow: visible;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 10;
}
.closeit {
    background: orange;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 9px;
    position: absolute;
    right: -14px;
    top: -12px;
    z-index: 13;
}
.symbol-cont {
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
}

.full_bg {
    background: none repeat scroll 0 0 black;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.49;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

#campaign-desc {
    box-sizing: border-box;
    display: block;
    height: 100px;
    overflow: auto;
    width: 100%;
}

.parent.level1 {
    border: 1px solid #cccccc;
    color: gray;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    min-height: 50px;
    text-align: center;
    width: 20%;
	cursor:pointer;
}
.parent.level1:hover{
	background:orangered;
	color:#000000;
	border-color:#333333;
} 

.result.tcpring {
    display: inline-block;
    margin: 0 5px 5px 0;
}

.result.tcpring img {
    width: 50px;
    height: auto;
    display: block;
}

.result.tcpring img:hover{
	opacity:0.7;
	cursor:pointer;
}
.closeit{
	cursor:pointer;
}
.closeit:hover{
	background:red;
}

.shipping-address {
    border: 1px solid #cccccc;
    margin-top: 15px;
    padding: 10px;
}
.shipping-address .campaign-info-cont {
    padding: 10px;
}
.shipping-address div > label {
    display: block;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 0;
}
.campaign-text {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    padding: 4px;
    position: relative;
    width: 100%;
}
.small-text {
    border: 1px solid #cccccc;
    display: inline-block;
    margin: auto;
    padding: 4px;
    width: 25%;
}

.backit {
    background: orange;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: -15px;
    line-height: 20px;
    padding: 3px;
    position: absolute;
    top: -15px;
    width: 100px;
	z-index:14;
}

.backit:hover{
	background:red;
	color:#000000;
}